<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="index::headstuff">
    <meta charset="UTF-8"/>
    <title>Transactionhistory</title>
</head>
<body>


<h1 class="well col-md-12" style="text-align: center;">Transaction history</h1>
<a href="/deposit"> you want to deposite?</a><br/>
<a href="/withdrawal>" you want to withdrawal?></a><br/>
<table style="width: 100%;">
<tr>
    <th>Id</th>
    <th>Accountnumber</th>
    <th>Depositeamount</th>
    <th>Withdrawalamount</th>
    <th>Reason</th>

</tr>
<tr th:each="bank:${records}">
    <td th:text="${bank.id}"></td>
    <td th:text="${bank.accountnumber}"></td>
    <td th:text="${bank.Depositeamount}"></td>
    <td th:text="${bank.Withdrawalamount}"></td>
    <td th:text="${bank.Reason}"></td>
</tr>

</table>
</body>
</html>